{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<body>
    <div class="inicio">
{% if process == "Conectar" %}
    <h2>{% blocktrans with provider.name as provider %}Conectar {{ provider }}{% endblocktrans %}</h2>
    <p>{% blocktrans with provider.name as provider %}Usted esta por iniciar sesión desde una cuenta tercerizada {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h2>{% blocktrans with provider.name as provider %}Inicie Sesión Vía {{ provider }}{% endblocktrans %}</h2>
<p>{% blocktrans with provider.name as provider %}Usted esta por iniciar sesión desde una cuenta tercerizada  {{ provider }}.{% endblocktrans %}</p>
{% endif %}
<form method="post">
  {% csrf_token %}
    <button type="submit" class="btn btn-secondary btn-lg btn-block">{% trans "Continuar" %}</button>

</form>
</div>
    </body>
{% endblock %}
