{% extends "base.html" %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
   <h1 class="mt-4">Crear Roles.</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Desea crear un Rol?</li>
</ol>

   <div class="row">
       <div class="col-xl-6 col-md-6">
    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}


                        {% if field.name == 'nombre'%}
                            Nombre del Rol
                            {{field.errors}}
                            {% render_field field class="form-control" %}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                        {% endif %}
                        {% if field.name == 'descripcion'%}
                            Descripción del Rol
                            {{field.errors}}
                            {% render_field field class="form-control" %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        {% endif %}



                        {% if field.name == 'permisos'%}
                            Seleccione los Permisos
                            {{field.errors}}

                            {% render_field field class="form-control" %}
                        {% endif %}



        {% endfor %}
         <br>
         <button onclick="history.back()" class="btn btn-danger">Cancelar</button>

         <input type="submit" class="btn btn-success" value="Guardar">


    </form>
    </div>
    </div>

{% endblock %}