{% extends "base.html" %}
{% load static %}
{% block content %}

    <span style = "color : white"> <h1>Usuarios con sus Roles</h1> </span>
{% for usuario in usuarios %}
    <span style = "color : white; text-align: center"> <h3>Usuario: </h3> </span>
    <li style="text-align: center; list-style: inside"><a>
              {{ usuario.nombre }}

     <br><br><span style = "color : white; text-align: center"> <h3>Rol: </h3> </span>
    {% for rol in usuario.rolSistema.all %}
        <li style="text-align: center; list-style: inside"><a>
              {{ rol.nombre }}
        </a>

        {% endfor %}
        </li></li></a></li>
{% endfor %}

{% endblock %}