{% extends "bases.html" %}

{% load static %}



{% block content %}



<span style = "color : white"> <h1>CONFIGURACIONES DEL SISTEMA</h1> </span>
<ul>
    <li> <a href="crear_permiso">Crear permiso</a> </li>
    <li> <a href="crear_roles">Crear rol</a> </li>
    <li> <a href="asignar_rol">Asignar rol</a> </li>

    <li> <a href="ver_roles">Ver roles</a> </li>
    <li> <a href="ver_permisos">Ver permisos</a> </li>

    <li> <a href="usuarios_con_roles">Ver usuarios y sus roles</a> </li>
</ul>
{% endblock %}