{% extends 'account/base.html' %}
{% load socialaccount %}
{% load static %}

{% block content %}
  <main class="px-3">
    <h1>Sistema Gestión de Proyectos   Grupo 9</h1>


  {% if user.is_authenticated and user %}
      <p class="lead">
      <a href="/inicio/" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Acceder</a>
    </p>
  {% else %}
      <p class="lead">
      <a href="{% provider_login_url 'google' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Iniciar Sesion</a>
    </p>
  {% endif %}

  </main>

  <footer class="mt-auto text-white-50">
    <p>Plataforma de Desarrollado con  <a href="#" class="text-white">Django</a></p>
  </footer>
{% endblock %}




  </body>
</html>
