{% extends 'base.html' %}
{% block content %}
    <h1> Burndown </h1>
    <script>
        window.onload = function () {

            fechas = {{ array_de_fechas_string|safe }}

                horas_ideales = {{ array_horas_ideales|safe }}
                    horas_trabajadas = {{ array_de_horas_trabajadas|safe }}

            var coordenadas_horas_ideales = []
            var coordenadas_horas_trabajadas = []

            fecha_hoy = new Date()
            fecha_hoy.setHours(fecha_hoy.getHours()+3)

            for (var i = 0; i<fechas.length; i++){


                fecha = new Date(fechas[i])
                fecha.setHours(fecha.getHours()+3)

                coordenadas_horas_ideales.push(
                    {
                        "x":fecha,
                        "y":horas_ideales[i] === -1 ? null : horas_ideales[i]
                    }
                )

                coordenadas_horas_trabajadas.push(
                    {
                        "x": fecha,
                        "y": fecha_hoy >= fecha ? horas_trabajadas[i] : null
                    }
                )
            }

            console.log(coordenadas_horas_ideales)

            var chart = new CanvasJS.Chart("chartContainer", {

                animationEnabled: true,
                title: {
                    text: "Burndown chart del Sprint {{ sprint.numero }}",
                    fontSize: 30,
                    padding: 10
                },
                axisX: {
                    title: "Fechas",
                    valueFormatString: "DD-MM",
                    interval: 1
                },
                axisY: {
                    title: "Horas restantes de trabajo",
                    suffix: "hr",
                    includeZero: true
                },
                legend:{
                    cursor: "pointer",
                    fontSize: 16,
                    itemclick: toggleDataSeries
                },
                toolTip:{
                    shared: true
                },
                data: [{
                    showInLegend: true,
                    type: "line",
                    name: "Horas reales",
                    connectNullData: true,
                    //nullDataLineDashType: "solid",
                    xValueType: "dateTime",
                    xValueFormatString: "DD-MM-YYYY",
                    dataPoints: coordenadas_horas_trabajadas
                },{
                    type: "line",
                    name: "Horas estimadas",
                    showInLegend: true,
                    connectNullData: true,
                    //nullDataLineDashType: "solid",
                    xValueType: "dateTime",
                    xValueFormatString: "DD-MM-YYYY",
                    dataPoints: coordenadas_horas_ideales
                }]
            });
            chart.render();

            function toggleDataSeries(e){
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                }
                else{
                    e.dataSeries.visible = true;
                }
                chart.render();
            }
        }
    </script>

    <body style="width: 100%">
    <a href="{% url "detalle_proyecto" id_proyecto=sprint.proyecto.id%}"><button type="button" class="btn btn-info fw-bold border-opacity-75 bg-black">Volver al proyecto</button></a>
    <div id="chartContainer" style="height: 60%; width: 90%; padding: 20px;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </body>
{% endblock %}