{% extends 'base.html' %}
{% block content %}
    <h1 class="mt-4">Gestion del Sprint: {{ sprint.numero }} - Estado: {{ sprint.estado }}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Visualiza los detalles del Sprint.</li>
    </ol>
    {% if sprint.estado == "NO_INICIADO" %}

        <a href="{% url "asignar_miembros_sprint" id_proyecto=id_proyecto id_sprint=sprint.id %}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Asignar desarrolladores</button></a>
        <a href="{% url "asignar_us_sprint" id_proyecto=id_proyecto id_sprint=sprint.id %}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Asignar User Stories</button></a>
        <a href="{% url "editar_sprint" id_proyecto=id_proyecto id_sprint=sprint.id %}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Editar Sprint</button></a>
        {% if not hay_otro_sprint_en_proceso %}
            <a href="{% url "iniciar_sprint" id_proyecto=id_proyecto id_sprint=sprint.id %}"><button type="button" class="btn btn-lg btn-success fw-bold border-opacity-75 bg-black">Iniciar Sprint</button></a>
        {% endif %}
    {% endif %}
    {% if sprint.estado == "EN_PROCESO" %}
        <a><button type="button" class="btn btn-lg btn-success fw-bold border-opacity-75 bg-black">Finalizar Sprint</button></a>
        <a><button type="button" class="btn btn-lg btn-danger fw-bold border-opacity-75 bg-black">Cancelar Sprint</button></a>
    {% endif %}
    <br>
    <br>
    <div class="row">
        <div class="col-xl-6 col-md-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Duracion</div>
                <div class="card-body">
                    <h5 class="card-title"><h2>{{ sprint.duracion }} dia(s)</h2></h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Capacidad total</div>
                <div class="card-body">
                    <h5 class="card-title"><h2>{{ sprint.capacidad }} hora(s)</h2></h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem; {% if sprint.capacidad_usada > sprint.capacidad %} background-color: red {% else %} background-color: green{% endif %}">
                <div class="card-header">Capacidad usada</div>
                <div class="card-body">
                    <h5 class="card-title"><h2>{{ sprint.capacidad_usada }} hora(s)</h2></h5>
                    <p class="card-text"></p>
                </div>
            </div>


        </div>
        <div class="col-xl-6 col-md-6">

            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header"><h3>Product Backlog</h3></div>
                <div class="card-body">

                    <p class="card-text">
                    <table class="table table-striped table-dark">

                        <thead>
                        <tr>
                            <th scope="col">Codigo</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Duracion</th>
                            <th scope="col">Horas trabajadas</th>
                            <th scope="col">Prioridad</th>
                            <th scope="col">Desarrollador</th>

                            {% if sprint.estado == "NO_INICIADO" %}
                                <th scope="col">Acciones</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>

                        {% for us in user_stories %}
                            <tr>
                                <td>{{ us.codigo }}</td>
                                <td><a href="{% url "detalle_US" id_proyecto=id_proyecto id_us=us.id %}">{{ us.nombre }}</a></td>
                                <td>{{ us.duracion }} hr</td>
                                <td>{{ us.total_horas_trabajadas }} hr</td>
                                <td>{{ us.prioridad }}</td>
                                {% if us.desarrollador is None %}
                                    <td>-</td>
                                {% else %}
                                    <td>{{ us.desarrollador }}</td>
                                {% endif %}

                                {% if sprint.estado == "NO_INICIADO" %}
                                    <td><a href="{% url "eliminar_us_sprint" id_proyecto=id_proyecto id_sprint=sprint.id id_us=us.id %}">Remover</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}



                        </tbody>

                    </table>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header"><h3>Desarrolladores</h3></div>
                <div class="card-body">

                    <p class="card-text">
                    <table class="table table-striped table-dark">

                        <thead>
                        <tr>
                            <th scope="col">Usernames</th>
                            <th scope="col">Capacidad</th>
                            <th scope="col">Carga horaria</th>
                            {% if sprint.estado == "NO_INICIADO" %}
                                <th scope="col">Acciones</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for dev in devs %}
                            <tr>

                                <td>{{ dev.miembro.email }}</td>
                                <td>{{ dev.capacidad  }} hora(s)</td>
                                <td>{{ dev.carga_horaria  }} hora(s)</td>
                                {% if sprint.estado == "NO_INICIADO" %}
                                    <td><a href="{% url "actualizar_miembros_sprint" id_proyecto=id_proyecto id_sprint=sprint.id id_miembrosprint=dev.id %}">Editar</a> - <a href="{% url "eliminar_miembros_sprint" id_proyecto=id_proyecto id_sprint=sprint.id id_miembrosprint=dev.id %}">Remover</a></td>
                                {% endif %}

                            </tr>
                        {% endfor %}


                        </tbody>

                    </table>
                </div>
            </div>

        </div>



    </div>


{% endblock %}