{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static "dist/jkanban.min.css" %}" />
    <script src="{% static "dist/jkanban.min.js" %}"></script>
    <link
            href="https://fonts.googleapis.com/css?family=Lato"
            rel="stylesheet"
    />

    <style>


        .success {
            background: #00b961;
        }

        .info {
            background: #2a92bf;
        }

        .warning {
            background: #f4ce46;
        }

        .error {
            background: #fb7d44;
        }

        .custom-button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 7px 15px;
            margin: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .kanban-title-board {
            font-weight: 700;
            margin: 0;
            padding: 0;
            display: inline;
            color: black;
        }

        #checkmark {
            display:inline-block;
            width: 22px;
            height:22px;
            background: #17df32 ;
            border-radius:50%;
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            transform: rotate(45deg);
        }

        #checkmark:before{
            content:"";
            position: absolute;
            width:3px;
            height:9px;
            background-color:#fff;
            left:11px;
            top:6px;
        }

        #checkmark:after{
            content:"";
            position: absolute;
            width:3px;
            height:3px;
            background-color:#fff;
            left:8px;
            top:12px;
        }

    </style>

    {{ tipos_dict|json_script:"tipos_dict" }}

    <div class="filtros" style="padding: 15px;color:navajowhite">Filtrar por:
        {% for tipo in tipos_dict %}
            <a style="color:lightseagreen" href="{% url "detalle_proyecto" id_proyecto=id_proyecto %}?id_tipo_us={{ tipo.id }}">{{ tipo.nombre }}</a>
        {% endfor %}
    </div>

    <div class="titulo-tipo-us" style="padding-left: 15px; color:navajowhite; padding-bottom: 10px">Tipo de US: {{ tipo_mostrado_en_pantalla }}</div>

    <div id="myKanban"></div>


    <script>
        function actualizar_estado_actual(id, id_estado_nuevo){

            url = `/proyecto/{{ id_proyecto }}/backlog/US/${id}/cambiar_estado/`
            token = document.cookie.split(";").find((row)=> row.trim().startsWith("csrftoken=")).split("=")[1].trim()
            console.log(token)
            data = {
                "estado": id_estado_nuevo
            }
            fetch(url, {
                credentials: 'include',
                method: "POST",
                headers: {
                    "Content-Type" : "application/json",
                    "X-CSRFToken": token
                },
                body: JSON.stringify(data)
            })
        }

        verificar_dropEl = function (el, target, source, sibling) {


            id_estado_done = "_{{ id_estado_done }}"
            dev = el.getAttribute("data-username")
            user = "{{ request.user.email }}"

            us_data_id = el.getAttribute("data-eid")
            estado_data_id = target.parentElement.getAttribute("data-id")
            id_estado_done = "_{{ id_estado_done }}"


            esta_aprobado = el.getAttribute("data-aprobado")

            if (dev === user) {



                /*    alert("El estado del US no coinicide con el de la base de datos. Favor reinicie la pagina")
                    return false*/

                if (id_estado_done !== estado_data_id) {
                    actualizar_estado_actual(us_data_id, estado_data_id)
                    console.log("NO ES DONE")
                    return true
                }
                else if (esta_aprobado === "true") {
                    actualizar_estado_actual(us_data_id, estado_data_id)
                    console.log("SI ES DONE y esta aprobado ")
                    return true
                }else {
                    console.log("ES DONE Y NO esta aprobado ")
                    alert("El US debe ser aprobado por el Scrum Master para ponerlo en DONE")
                    return false
                }
            }else
                alert("Solo el desarrolador del user story puede moverlo en el kanban")
            return false


        }

        const tipos_dict = JSON.parse(document.getElementById('tipos_dict').textContent)
        id_tipo_us = 2
        console.log(tipos_dict)
        var KanbanTest = new jKanban({
            element: "#myKanban",
            gutter: "10px",
            widthBoard: "350px",
            itemHandleOptions:{
                enabled: true,
            },
            dropEl: verificar_dropEl,
            click: function(el) {
                id_us = el.getAttribute("data-eid")
                url = `/proyecto/{{ id_proyecto }}/backlog/US/${id_us}`

                window.location.href=url
            },
            boards: obtener_estados_kanban(tipos_dict),
            dragBoards: false,
            /*   boards: [
                   {
                       id: "_todo",
                       title: "To Do (Can drop item only in working)",
                       class: "info,good",
                       dragTo: ["_working"],
                       item: getItems(us_dict)
                   },
                   {
                       id: "_working",
                       title: "Working (Try drag me too)",
                       class: "warning",
                       item: getItems(us_dict)
                   },
                   {
                       id: "_done",
                       title: "Done (Can drop item only in working)",
                       class: "success",
                       dragTo: ["_working"],
                       item: getItems(us_dict)
                   }
               ]*/
        });



        function obtener_estados_kanban(tipos_dict){

            tipo = tipos_dict.filter((x)=> x.id === {{ id_tipo_us }})[0]

            boards = []
            estados = tipo.estados

            for (estado in estados){
                board = {}
                board.id = `_${estados[estado].id}`
                board.title = estados[estado].nombre
                board.item = getItems(tipo.user_stories, estados[estado].id)
                boards.push(board)
            }

            return boards
        }

        /*
        * {
                    id: "_todo",
                    title: "To Do (Can drop item only in working)",
                    class: "info,good",
                    dragTo: ["_working"],
                    item: getItems(us_dict)
                },*/

        function getItems(us_dict, status){
            items = []

            for (us in us_dict){


                if(us_dict[us].estado === status){
                    item = {}
                    item.id = us_dict[us].id
                    item.title = html_del_user_story(us_dict[us])
                    item.username = us_dict[us].desarrollador
                    item.aprobado = us_dict[us].aprobado_por_scrum_master
                    items.push(item)
                }
            }
            return items
        }

        function html_del_user_story(us_item){
            if (us_item.aprobado_por_scrum_master)
                return `<div style="color:black">${us_item.nombre}        <span id="checkmark" title="Aprobado por Scrum Master" ></span></div> <br><div style="color:black;text-overflow: ellipsis;overflow: hidden">Dev: ${us_item.desarrollador}</div>`
            else
                return `<div style="color:black">${us_item.nombre}</div><br><div style="color:black;text-overflow: ellipsis;overflow: hidden">Dev: ${us_item.desarrollador}</div>`
        }


    </script>

{% endblock %}
