{% load SGPA_extras %}




    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <button onclick="history.back()" >Back</button>
            <
            <a class="navbar-brand ps-3" href="/">Gestion de Proyectos</a>
            <!-- Sidebar Toggle-->

             <div style="color: whitesmoke">
          usuario: {{request.user.email}}

          </div>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Documentación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/accounts/logout">Salir</a>
            </li>
        </ul>
        </nav>


    {% block breadcrumb %}
          {% breadcrumb %}
    {% endblock %}
    {% load static %}
    <!-- Bootstrap -->
        <!-- <link href="{% static 'proyecto/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

     <!-- Fonts -->

     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Styles -->
    <link href="{% static 'proyecto/css/gestion.css' %}" rel="stylesheet">



 <!-- contenido cambiante-->
 {% block content %}

 {% endblock %}

    <!-- Bootstrap -->


        </div>

    </body>
</html>

</div>
</html>



