{% extends "base.html" %}
{% block content %}
    {% load widget_tweaks %}
    <div>
        <span><h1><b>CREAR NUEVO PROYECTO</b></h1>
            <h2 style="color: tomato; text-align:left"><b>* Todos los campos son requeridos *</b></h2></span>


    <div class="row">
       <div class="col-xl-6 col-md-6">
<form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group class pb-2">
        {% if field.name == 'nombre'%}
         Nombre del Proyecto
        {{field.errors}}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        {% endif %}
         {% if field.name == 'descripcion'%}
             Descripción del Proyecto
             {{field.errors}}
             {% render_field field class="form-control" %}
             {% if field.help_text %}
                 <small class="form-text text-muted">{{ field.help_text }}</small>
             {% endif %}
         {% endif %}
    {% if field.name == 'scrum_master'%}
             Seleccione el Scrum Master del Proyecto
             {{field.errors}}
             {% render_field field class="form-control" %}
         {% endif %}
     </div>
    {% endfor %}
    <input type="submit" value="Crear">
</form>
       </div>

     <div class="col-xl-6 col-md-6">

         <img src="static/proyecto/img/proyecto.jpeg" class="img-responsive"  >

     </div>
       </div>
    </div>

{% endblock %}