{% extends "base.html" %}
{% block content %}
    <style>
    div{
        color: white;
        text-align: center;
    }
    h1{
        text-align: left;
        font-size: 25px;
    }
   .sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 56px;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 100px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: black;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
    </style>
    <div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>




    {% if sprint %}
        <div class="row">
            <div class="col-xl-6 col-md-6">
            <span class="float-right">
            <table class="table table-dark">
                {% for s in sprint %}


  <thead>
    <tr>
      <th scope="col">Sprint ID: {{s.numero}}</th>
      <th scope="col">Para Detalles:<a href="{% url 'ver_sprint' id_proyecto=proyecto.id id_sprint=s.id %}">Click Aqui.</a>
</th>
    </tr>
  </thead>

                 {% endfor %}
            </table>
            </span>
            </div>


        <div class="col-xl-6 col-md-6 float-right">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Sprints Creados.</div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                 <p class="card-text">Visualiza una listade Sprints creados.</p>
            </div>
            </div>
        </div>
        </div>
    {% else %}
        {% if proyecto.estado == "EN_PROCESO" %}

            <div class="col-xl-6 col-md-6 float-right">
        <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nombre del Proyecto</th>
      <th scope="col">{{proyecto.nombre}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fecha inicio:</td>
      <td>{{ proyecto.fecha_inicio }}</td>
    </tr>
    <tr>
        <td>Fecha fin estimada:</td>
      <td>{{ proyecto.fecha_fin_estimada }}</td>
    </tr>
  </tbody>
</table>
</div>
            <div class="col-xl-6 col-md-6 float-right">
            <span class="float-right">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Enhorabuena!</div>
  <div class="card-body">
    <h5 class="card-title">Ya puedes crear un Sprint.</h5>
    <p class="card-text">Crealo ahora.</p>
  </div>
           </span>
            <span class="float-right"><a href="{% url 'crear_sprint' id_proyecto=proyecto.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Crear Sprint</a></span>
            </div>
        {% endif  %}

    {% endif %}
    <div class="sidebar">

        <a href="ver_roles"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Roles de Proyecto</button></a>
<br>
{% if proyecto.estado == "NO_INICIADO" %}
    {% if not equipo %}
        <a href="crear_equipo"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black font">Crear Equipo</button></a>
    {% else %}
        <a href="{% url 'ver_equipo' id_proyecto=proyecto.id  id_equipo=equipo.id %}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black font">Miembros</button></a>

        <p>Equipo: {{ equipo.nombre }}</p>
    {% endif %}
    <br>
    {% if not tipos %}
        <a href="crear_tipoUS"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Crear Tipos de US</button></a>
    {% else %}
        {% if not todos_con_estados %}
            <p>Hay Tipos de US sin estados!</p>
        {% endif %}
        <a href="{% url 'ver_tipoUS' id_proyecto=proyecto.id %}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Ver Tipos de US</button></a>
    {% endif %}
    <br>
    {% if not us %}
        <a href="{% url 'crear_US' id_proyecto=proyecto.id %}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Crear User Stories</button></a>
    {% else %}
        <a href="{% url 'ver_US' id_proyecto=proyecto.id %}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Ver User Stories</button></a>
    {% endif %}
{% else %}
    <p style="color: black; font-size: 20px">User stories:</p>
    {% for u in us %}
        <li style="color: black">{{ u.nombre}} {% if u.sprint %}en sprint {{ u.sprint.numero }}{% endif %}</li>
        <a href="{% url 'editar_US' id_proyecto=proyecto.id id_us=u.id%}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black font">Editar</button></a>
        <a href="{% url 'borrar_US' id_proyecto=proyecto.id id_us=u.id%}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black font">Borrar</button></a>
    {% endfor %}
    <p style="color: black; font-size: 20px" >Equipo: <a href="{% url 'ver_equipo' id_proyecto=proyecto.id id_equipo=equipo.id %}">{{ equipo.nombre }}</a></p>
{% endif %}

{% if proyecto.estado == "NO_INICIADO" and equipo %}
    <a href="iniciar_proyecto"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Iniciar proyecto</button></a>
{% endif %}
    </div></div>
{% endblock %}