{% extends "base.html" %}
{% load static %}
{% block content %}

    <style>
        /*
        DEMO STYLE
    */

        @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        body {
            font-family: 'Poppins', sans-serif;
            background: #fafafa;
        }
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #2c3e50;
}

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }

        a,
        a:hover,
        a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        .navbar {
            padding: 15px 10px;
            background: #fff;
            border: none;
            border-radius: 0;
            margin-bottom: 40px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        }

        .navbar-btn {
            box-shadow: none;
            outline: none !important;
            border: none;
        }

        .line {
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #ddd;
            margin: 40px 0;
        }

        /* ---------------------------------------------------
            SIDEBAR STYLE
        ----------------------------------------------------- */

        .wrapper {
            display: flex;
            width: 100%;
            align-items: stretch;
        }

        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #7386D5;
            color: #fff;
            transition: all 0.3s;
        }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

        #sidebar ul li.active>a,
        a[aria-expanded="true"] {
            color: #fff;
            background: #6d7fcc;
        }

        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6d7fcc;
        }

        ul.CTAs {
            padding: 20px;
        }

        ul.CTAs a {
            text-align: center;
            font-size: 0.9em !important;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        a.download {
            background: #fff;
            color: #7386D5;
        }

        a.article,
        a.article:hover {
            background: #6d7fcc !important;
            color: #fff !important;
        }

        /* ---------------------------------------------------
            CONTENT STYLE
        ----------------------------------------------------- */

        #content {
            width: 100%;
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
        }

        /* ---------------------------------------------------
            MEDIAQUERIES
        ----------------------------------------------------- */

        @media (max-width: 768px) {
            #sidebar {
                margin-left: -250px;
            }
            #sidebar.active {
                margin-left: 0;
            }
            #sidebarCollapse span {
                display: none;
            }
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>{{ proyecto.nombre }}</h3>
            </div>

            <ul class="list-unstyled components">
                {% if puede_finalizar_proyecto %}
                    <li><a href="{% url 'finalizar_proyecto' id_proyecto=proyecto.id %}"><button type="button" class="btn btn-lg btn-success fw-bold border-opacity-75 bg-black">Finalizar Proyecto</button></a></li>
                {% endif %}
                {% if proyecto.estado == "NO_INICIADO" %}
                    <li><a href="{% url 'iniciar_proyecto' id_proyecto=id_proyecto %}">
                        <button type="button" class="btn btn-lg btn-success fw-bold border-opacity-75 bg-black" {% if not puede_iniciar_un_proyecto %}title="{{ texto_ayuda_no_puede_iniciar_proyecto }}" disabled{% endif %}>Iniciar Proyecto</button></a></li>
                {% endif %}
                <p>Scrum Master<br>{{ proyecto.scrum_master}}</p>
                {% if sprint is not None %}
                    <p style="text-align: left">Sprint Activo<br><a href="{% url "ver_sprint" id_proyecto=id_proyecto id_sprint=sprint.id %}">N°: {{ sprint.numero }}</a></p>
                {% endif %}

                <li>
                    <a href="{% url "ver_roles" id_proyecto=id_proyecto %}">Roles de Proyecto</a>
                </li>
                <li><a href="{% url 'ver_product_backlog' id_proyecto=id_proyecto %}">Product Backlog</a></li>

                <li><a href="{% url 'ver_equipo' id_proyecto=id_proyecto id_equipo=equipo.id %}">Equipo</a></li>
                <li><a href="{% url 'ver_sprints' id_proyecto=proyecto.id %}">Sprints</a></li>

                <li><a href="{% url 'ver_solicitudes_scrum' id_proyecto=proyecto.id %}">Solicitudes</a></li>
                <li><a href="{% url 'ver_feriados' id_proyecto=proyecto.id %}">Feriados</a></li>


        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">


                        </ul>
                    </div>
                </div>
            </nav>



            <div>

                {% if sprint is not None %}
                    <h1>Tablero Kanban</h1>
                    <div style="padding-left: 10px">{% include "kanban/tablero.html" %}</div>
                {% else %}
                    {% if proyecto.estado == "EN_PROCESO" %}

                        <div class="col-xl-5 col-md-5 float-right">
                            <table class="table table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Nombre del Proyecto</th>
                                    <th scope="col">{{proyecto.nombre}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Fecha inicio:</td>
                                    <td>{{ proyecto.fecha_inicio }}</td>
                                </tr>
                                <tr>
                                    <td>Fecha fin estimada:</td>
                                    <td>{{ proyecto.fecha_fin_estimada }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xl-6 col-md-6 float-right">
            <span class="float-right">
            <div class="card text-white  mb-3" style="max-width: 18rem;background: #6d7fcc;">
  <div class="card-header">Enhorabuena!</div>
  <div class="card-body">
    <h5 class="card-title">Ya puedes crear un Sprint.</h5>
    <p class="card-text" >Crealo ahora.</p>
   <span class="float-right"><a href="{% url 'crear_sprint' id_proyecto=proyecto.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Crear Sprint</a></span>
                        </div>
                    {% endif  %}

                {% endif %}




            </div>
        </div>

{% endblock %}