{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="verProyecto">
<body>
{% if proyectos %}
    <span style = "color : white"><h3> Proyectos Actuales: </h3> </span><br>

     {% for proyecto in proyectos %}
         <ul style="list-style: none;">
         <li><a style="color: #117a8b" href="{% url 'detalle_proyecto' id_proyecto=proyecto.id %}">
              {{ proyecto.nombre }} ({{ proyecto.estado }})
         </a></li>
         </ul>
     {% endfor %}

{% else %}
    <br>
    <span style = "color : white"> <h3>No hay proyectos actualmente.</h3> </span>
{% endif %}

{% if admin %}
    <br><br>
    <a href="crear"> <button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black"><b>Crear Proyecto</b></button> </a>
{% endif %}


</body></div>
{% endblock %}