{% extends "base.html" %}
{% block content %}
    {% load widget_tweaks %}

    <div>
        <h1>Editar Equipo</h1>
    <div class="row">

  <div class="col-xl-6 col-md-6">
<form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group class pb-2">
        {% if field.name == 'nombre'%}
         Nombre del Equipo
        {{field.errors}}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
             <h4>Seleccione los Miembros:</h4>
        {% endif %}

         {% if field.name == 'miembros'%}

             {{field}}
         {% endif %}
     </div>
    {% endfor %}
     <button onclick="history.back()" class="btn btn-danger">Cancelar</button>

    <input type="submit" class="btn btn-success" value="Guardar">
</form></div>
    </div>
    </div>
{% endblock %}