{% extends "base.html" %}
{% block content %}


    <h1 class="mt-4">Gestion de Product Backlog.</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Puedes crear Tipos de U.S, crear U.S y visualizar una lista de U.S ya creados.</li>
</ol>

<div class="row">

    <div class="col-xl-6 col-md-6">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <br>
    {% if not tipos %}
        <br>
        <a href="{% url 'crear_tipoUS' id_proyecto=id_proyecto %}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Crear Tipos de US</button></a>
    {% else %}
        {% if not todos_con_estados %}
            <p>Hay Tipos de US sin estados!</p>
        {% endif %}
        <a href="{% url 'ver_tipoUS' id_proyecto=id_proyecto %}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Ver Tipos de US</button></a>
    {% endif %}
    <br>
    {% if not us %}
        <br>
        <br>
        <a href="{% url 'crear_US' id_proyecto=id_proyecto %}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Crear User Stories</button></a>
    {% else %}
        <a href="{% url 'ver_US' id_proyecto=id_proyecto %}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black">Ver User Stories</button></a>
    {% endif %}
    </div>
    <div class="col-xl-6 col-md-6">
    <br>
    <p style="color: whitesmoke; font-size: 30px">User stories:</p>
    <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">U.S</th>
      <th scope="col">Editar</th>
        <th scope="col">Borrar</th>

    </tr>
  </thead>
    {% for u in uss %}


  <tbody>
    <tr>

      <td><li style="color: whitesmoke">{{ u.nombre}} {% if u.sprint %}en sprint {{ u.sprint.numero }}{% endif %}</li></td>
      <td><a href="{% url 'editar_US' id_proyecto=id_proyecto id_us=u.id%}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black font">Editar</button></a></td>
      <td><a href="{% url 'borrar_US' id_proyecto=id_proyecto id_us=u.id%}"><button type="button" class="btn btn-lg btn-secondary fw-bold border-opacity-75 bg-black font">Borrar</button></a></td>
    </tr>

  </tbody>

    {% endfor %}

</table>
    </div>

</div>
{% endblock %}