{% extends "base.html" %}
{% block content %}
    {% load widget_tweaks %}
<h1>Crear US</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group class pb-2">
        {% if field.name == 'nombre'%}
         Nombre
        {{field.errors}}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        {% endif %}
         {% if field.name == 'descripcion'%}
             Descripción
             {{field.errors}}
             {% render_field field class="form-control" %}
             {% if field.help_text %}
                 <small class="form-text text-muted">{{ field.help_text }}</small>
             {% endif %}
         {% endif %}
    {% if field.name == 'tipo'%}
             Tipo
             {{field.errors}}
             {% render_field field class="form-control" %}
             {% if field.help_text %}
                 <small class="form-text text-muted">{{ field.help_text }}</small>
             {% endif %}
         {% endif %}
     </div>
    {% endfor %}
    <input type="submit" value="Guardar">
</form>
{% endblock %}