{% extends "base.html" %}
{% block content %}
    {% load widget_tweaks %}
 <h1 class="mt-4">Creacion de User Storys.</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Crea nuevas User Storys.</li>
</ol>
<div class="row">
<div class="col-xl-6 col-md-6">

<form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group class pb-2">
        {% if field.name == 'nombre'%}
         Nombre
        {{field.errors}}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
         {% elif field.name == 'descripcion'%}
             Descripción
             {{field.errors}}
             {% render_field field class="form-control" %}
             {% if field.help_text %}
                 <small class="form-text text-muted">{{ field.help_text }}</small>
             {% endif %}
    {% else %}
             {{ field.name }}
             {{field.errors}}
             {% render_field field class="form-control" %}
             {% if field.help_text %}
                 <small class="form-text text-muted">{{ field.help_text }}</small>
             {% endif %}
         {% endif %}
     </div>
    {% endfor %}
    <input type="submit" value="Guardar">
</form>
</div>
</div>
{% endblock %}