{% extends 'base.html' %}
{% block content %}

    <style>

        .table-custom{
            width: 100%;
            border-collapse: collapse;
            text-align: center;

        }

        .table-custom th{
            border: none;
            padding-top: 12px;
            padding-bottom: 12px;
            color: white;
        }

        .table-custom tr{
            /* height: 20%; */
            border-bottom: 1px solid rgb(212, 212, 212);
            color: white;
        }

    </style>

    <h1 class="mt-4">Historial de US</h1>
    <h3>User story: {{ us.codigo }} - {{ us.nombre }}</h3>
    <h3>Horas trabajadas: {{ horas_trabajadas }} h</h3>
    {% if us.sprint is not None and us.sprint.estado == "NO_INICIADO" %}
        <a href="{% url "editar_US" id_proyecto=id_proyecto id_us=us.id %}"><button type="button" class="btn btn-lg btn-info fw-bold border-opacity-75 bg-black">Editar US</button></a>
    {% endif %}
    {% if us.sprint is not None and us.sprint.estado == "EN_PROCESO" %}
        <a href="{% url "cargar_trabajo_US" id_proyecto=id_proyecto id_us=us.id %}"><button type="button" class="btn btn-lg btn-success fw-bold border-opacity-75 bg-black">Cargar trabajo</button></a>
    {% endif %}
    {% if us.sprint is not None and puede_asignar_dev %}
        <a href="{% url "asignar_dev_US" id_proyecto=id_proyecto id_us=us.id %}"><button type="button" class="btn btn-lg btn-success fw-bold border-opacity-75 bg-black">Asignar Dev</button></a>
    {% endif %}
    {% if horas_trabajadas != 0 %}
        <a href="{% url "solicitar_aprobacion" id_proyecto=id_proyecto id_us=us.id %}"><button type="button" class="btn btn-lg btn-success fw-bold border-opacity-75 bg-black">Solicitar Aprobacion</button></a>
    {% else %}
        <a href="{% url "solicitar_aprobacion" id_proyecto=id_proyecto id_us=us.id %}"><button type="button" class="btn btn-lg btn-success fw-bold border-opacity-75 bg-black" disabled>Solicitar Aprobacion</button></a>
    {% endif %}

    <a href="{% url "solicitudes" id_proyecto=id_proyecto id_us=us.id %}"><button type="button" class="btn btn-lg btn-success fw-bold border-opacity-75 bg-black">Solicitudes</button></a>


    {% if us.desarrollador is not None %}
        <h3>Desarrollador: {{ us.desarrollador.email }}</h3>
    {% endif %}



    <table class="table-custom">
        <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Evento</th>
            <th scope="col">Usuario</th>
            <th scope="col">Horas Trabajadas</th>
            <th scope="col">Archivos</th>
            <th scope="col"> - </th>
        </tr>
        </thead>
        <tbody>
        {% for historial in historiales %}
            <tr height="60px">
                <td>{{ historial.fecha }}</td>
                <td>{{ historial.log }}</td>
                <td>{{ historial.usuario.email }}</td>
                {% if historial.horas_trabajadas == 0 %}
                    <td>-</td>
                {% else %}
                    <td>{{ historial.horas_trabajadas }}</td>
                {% endif %}
                {% if historial.archivos != "0" %}
                    <td><a href="{{ historial.archivos.url }}" download class="btn btn-dark float-right">Download</a></td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}