{% extends 'base.html' %}
{% block content %}
    {% load widget_tweaks %}
<h1 style="text-align: center; color: white">Editar US</h1>
<form method="post">
    {% csrf_token %}
      {% for field in form.visible_fields %}
    <div class="form-group class pb-2">
        {% if field.name == 'nombre'%}
         Nombre del US
        {{field.errors}}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        {% endif %}
         {% if field.name == 'descripcion'%}
             Descripción del US
             {{field.errors}}
             {% render_field field class="form-control" %}
             {% if field.help_text %}
                 <small class="form-text text-muted">{{ field.help_text }}</small>
             {% endif %}
         {% endif %}
    {% if field.name == 'tipo'%}
             Seleccione el Tipo
             {{field.errors}}
             {% render_field field class="form-control" %}
         {% endif %}
     </div>
    {% endfor %}
    <input type="submit" value="Guardar">
</form>
{% endblock %}