{% extends 'base.html' %}
{% block content %}
<h1 style="text-align: center; color: white">User Stories del Proyecto</h1>


<a href="US/crear_US"> Crear User Story</a>


{% if uss %}
    <h3 style="text-align: center; color: white">User Stories disponibles: </h3>
     <ol style="color: white; text-align: center">
     {% for us in uss %}
         <li>
              {{ us.nombre }} - Tipo: {{ us.tipo.nombre }}
            </li>
         <a href="{% url 'editar_US' id_proyecto=id_proyecto id_us=us.id%}">Editar</a>
        <a href="{% url 'borrar_US' id_proyecto=id_proyecto id_us=us.id%}">Borrar</a>
     {% endfor %}
    </ol>
{% else %}
    <h3 style="text-align: center; color:white;">No hay US actualmente.</h3>
{% endif %}
{% endblock %}